*{
    margin-bottom: 5px;
}

label{
    display:block;
    margin-bottom: 5px;
}
body{
    color : black;
    background-color: #9AC2C5
}
footer{
    position :relative;
    top : 10px;
    text-align: center;
    color: whitesmoke;
    background-color: #7B9B9E
}